In [77]:
import plotly.graph_objects as go
import pandas as pd
import numpy as np

In [78]:
df1 = pd.read_csv('data/ready_for_plotting/usa_data.csv')

In [79]:
df1

,Decade,Date,Time,Location,Operator,Flight_Num,Route,Ac_Type,Registration,Cn_Ln,...,Fatalities,Ground,Summary,Aboard_Total,Fatalities_Total,Operator_vs_Military,Country_location,Code,Country_Geopy,State_Code
0,1950,1953-01-07,2055,"Issaquah, Washington",Flying Tiger Line,841,Seattle - Cheyenne - Fort Jackson,Douglas C-54B-10-DO,N86574,18350,...,"{'total': 7, 'passengers': 3, 'crew': 4}",0.0,The plane struck a tree on a mountain ridge at...,7,7,Flying Tiger Line,"{'place_id': 383391892, 'licence': 'Data © Ope...",USA,"Washington, United States",WA
1,1950,1953-01-07,0412,"Fish Haven, Idaho",Associated Air Transport,1-6-6A,Boeing Field - Cheyenne,Curtiss C-46,N1648M,22395,...,"{'total': 40, 'passengers': 37, 'crew': 3}",0.0,The plane crashed into mountains while en rout...,40,40,Associated Air Transport,"{'place_id': 315821592, 'licence': 'Data © Ope...",USA,"Idaho, United States",ID
2,1950,1953-02-14,1710,"Off Mobile, Alabama",National Airlines,470,Miami - Orlando - New Orleans,Douglas DC-6,N90893,43057/73,...,"{'total': 46, 'passengers': 41, 'crew': 5}",0.0,The aircraft crashed into the Gulf of Mexico o...,46,46,National Airlines,"{'place_id': 293252853, 'licence': 'Data © Ope...",USA,"Alabama, United States",AL
3,1950,1953-03-04,0150,"Windsor Locks, Connecticut",Slick Airways,162,"New York, NY - Winsor Locks, CT",Curtiss C-46F,N4717N,22400,...,"{'total': 2, 'passengers': 0, 'crew': 2}",0.0,After missing his first approach to the airpor...,2,2,Slick Airways,"{'place_id': 11192627, 'licence': 'Data © Open...",USA,"Connecticut, United States",CT
4,1950,1953-03-20,1838,"Alvarado, California",Transocean Air Lines,942,Roswell - Oakland - Guam,Douglas DC-4 (C-54-10-DO),N88942,36076,...,"{'total': 35, 'passengers': 30, 'crew': 5}",0.0,The aircraft crashed into a flat barley field ...,35,35,Transocean Air Lines,"{'place_id': 311607871, 'licence': 'Data © Ope...",USA,"California, United States",CA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1047,1970,1976-03-07,1107,"Igiugig, Alaska",Kodiak Western Alaska Airlines,NaN,"South Nanek, AK - Dillingham, AK",Cessna 207,N91142,20700089,...,"{'total': 4, 'passengers': 3, 'crew': 1}",0.0,Continued VFR flight in to adverse weather.,4,4,Kodiak Western Alaska Airlines,"{'place_id': 375155709, 'licence': 'Data © Ope...",USA,"Alaska, United States",AK
1048,1970,1976-04-05,0819,"Ketchikan, Alaska",Alaska Airlines,60,Juneau - Ketchikan,Boeing B-727-81,N124AS,18821,...,"{'total': 1, 'passengers': 1, 'crew': 0}",0.0,The plane overran the runway after landing at ...,50,1,Alaska Airlines,"{'place_id': 32595077, 'licence': 'Data © Open...",USA,"Alaska, United States",AK
1049,1970,1976-09-02,1715,"Hawk Inlet, Alaska",Temsco Helicopter - Air Taxi,NaN,NaN,Hughes 369HS,N9172F,NaN,...,"{'total': 3, 'passengers': 2, 'crew': 1}",0.0,Crashed while climbing to cruise altitude. Fai...,4,3,Temsco Helicopter - Air Taxi,"{'place_id': 32778117, 'licence': 'Data © Open...",USA,"Alaska, United States",AK
1050,1970,1976-09-26,0830,"Near Alpena, Michigan",Military - U.S. Air Force,NaN,Kenneth Ingalls Sawyer - Oscoda-Wurtsmith,Boeing KC-135A,61-0296,18203/518,...,"{'total': 15, 'passengers': 12, 'crew': 3}",0.0,Crash-landed in rugged terrain broke up and la...,20,15,Military,"{'place_id': 23457604, 'licence': 'Data © Open...",USA,"Michigan, United States",MI
1051,1970,1976-12-12,2326,"Cape May, New Jersey",Atlantic City Airlines,977,Atlantic City - Cap May,de Havilland Canada DHC-6 Twin Otter 300,N101AC,262,...,"{'total': 3, 'passengers': 3, 'crew': 1}",0.0,The plane crashed short of the runway in rain....,10,3,Atlantic City Airlines,"{'place_id': 1881913, 'licence': 'Data © OpenS...",USA,"New Jersey, United States",NJ

In [80]:
def check_unique(x):
    return x.split(',')[0].strip()

In [81]:
df1['State_Geopy'] = df1.Country_Geopy.apply(check_unique)

In [82]:
df1

,Decade,Date,Time,Location,Operator,Flight_Num,Route,Ac_Type,Registration,Cn_Ln,...,Ground,Summary,Aboard_Total,Fatalities_Total,Operator_vs_Military,Country_location,Code,Country_Geopy,State_Code,State_Geopy
0,1950,1953-01-07,2055,"Issaquah, Washington",Flying Tiger Line,841,Seattle - Cheyenne - Fort Jackson,Douglas C-54B-10-DO,N86574,18350,...,0.0,The plane struck a tree on a mountain ridge at...,7,7,Flying Tiger Line,"{'place_id': 383391892, 'licence': 'Data © Ope...",USA,"Washington, United States",WA,Washington
1,1950,1953-01-07,0412,"Fish Haven, Idaho",Associated Air Transport,1-6-6A,Boeing Field - Cheyenne,Curtiss C-46,N1648M,22395,...,0.0,The plane crashed into mountains while en rout...,40,40,Associated Air Transport,"{'place_id': 315821592, 'licence': 'Data © Ope...",USA,"Idaho, United States",ID,Idaho
2,1950,1953-02-14,1710,"Off Mobile, Alabama",National Airlines,470,Miami - Orlando - New Orleans,Douglas DC-6,N90893,43057/73,...,0.0,The aircraft crashed into the Gulf of Mexico o...,46,46,National Airlines,"{'place_id': 293252853, 'licence': 'Data © Ope...",USA,"Alabama, United States",AL,Alabama
3,1950,1953-03-04,0150,"Windsor Locks, Connecticut",Slick Airways,162,"New York, NY - Winsor Locks, CT",Curtiss C-46F,N4717N,22400,...,0.0,After missing his first approach to the airpor...,2,2,Slick Airways,"{'place_id': 11192627, 'licence': 'Data © Open...",USA,"Connecticut, United States",CT,Connecticut
4,1950,1953-03-20,1838,"Alvarado, California",Transocean Air Lines,942,Roswell - Oakland - Guam,Douglas DC-4 (C-54-10-DO),N88942,36076,...,0.0,The aircraft crashed into a flat barley field ...,35,35,Transocean Air Lines,"{'place_id': 311607871, 'licence': 'Data © Ope...",USA,"California, United States",CA,California
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1047,1970,1976-03-07,1107,"Igiugig, Alaska",Kodiak Western Alaska Airlines,NaN,"South Nanek, AK - Dillingham, AK",Cessna 207,N91142,20700089,...,0.0,Continued VFR flight in to adverse weather.,4,4,Kodiak Western Alaska Airlines,"{'place_id': 375155709, 'licence': 'Data © Ope...",USA,"Alaska, United States",AK,Alaska
1048,1970,1976-04-05,0819,"Ketchikan, Alaska",Alaska Airlines,60,Juneau - Ketchikan,Boeing B-727-81,N124AS,18821,...,0.0,The plane overran the runway after landing at ...,50,1,Alaska Airlines,"{'place_id': 32595077, 'licence': 'Data © Open...",USA,"Alaska, United States",AK,Alaska
1049,1970,1976-09-02,1715,"Hawk Inlet, Alaska",Temsco Helicopter - Air Taxi,NaN,NaN,Hughes 369HS,N9172F,NaN,...,0.0,Crashed while climbing to cruise altitude. Fai...,4,3,Temsco Helicopter - Air Taxi,"{'place_id': 32778117, 'licence': 'Data © Open...",USA,"Alaska, United States",AK,Alaska
1050,1970,1976-09-26,0830,"Near Alpena, Michigan",Military - U.S. Air Force,NaN,Kenneth Ingalls Sawyer - Oscoda-Wurtsmith,Boeing KC-135A,61-0296,18203/518,...,0.0,Crash-landed in rugged terrain broke up and la...,20,15,Military,"{'place_id': 23457604, 'licence': 'Data © Open...",USA,"Michigan, United States",MI,Michigan
1051,1970,1976-12-12,2326,"Cape May, New Jersey",Atlantic City Airlines,977,Atlantic City - Cap May,de Havilland Canada DHC-6 Twin Otter 300,N101AC,262,...,0.0,The plane crashed short of the runway in rain....,10,3,Atlantic City Airlines,"{'place_id': 1881913, 'licence': 'Data © OpenS...",USA,"New Jersey, United States",NJ,New Jersey

In [83]:
df2 = df1.groupby(['State_Code', 'State_Geopy'])['Code'].count()

In [84]:
df = pd.DataFrame(df2)

In [85]:
df.columns = ['Code Count']
df

                                 Code Count
State_Code State_Geopy
AK         Alaska                       107
AL         Alabama                        6
AR         Arkansas                       6
AZ         Arizona                       16
CA         California                   124
CO         Colorado                      30
CT         Connecticut                   12
DC         District of Columbia          14
DE         Delaware                       1
FL         Florida                       37
False      United States                  1
           Wake Island                    1
GA         Georgia                       13
HI         Hawaii                        24
IA         Iowa                          10
ID         Idaho                          7
IL         Illinois                      35
IN         Indiana                       21
KS         Kansas                         8
KY         Kentucky                      12
LA         Louisiana                     18
MA         Massachusetts                 18
MD         Maryland                      19
ME         Maine                          6
MI         Michigan                      15
MN         Minnesota                     12
MO         Missouri                      26
MS         Mississippi                    5
MT         Montana                       12
NC         North Carolina                21
NE         Nebraska                       5
NH         New Hampshire                  5
NJ         New Jersey                    38
NM         New Mexico                    22
NV         Nevada                        18
NY         New York                      59
OH         Ohio                          44
OK         Oklahoma                       4
OR         Oregon                        11
PA         Pennsylvania                  32
RI         Rhode Island                   2
SC         South Carolina                 7
SD         South Dakota                   2
TN         Tennessee                     12
TX         Texas                         50
UT         Utah                          18
VA         Virginia                      19
VT         Vermont                        3
WA         Washington                    26
WI         Wisconsin                      6
WV         West Virginia                 11
WY         Wyoming                       21

In [86]:
df['Code'] = df.index.map(lambda x: x[0])
df['State'] = df.index.map(lambda x: x[1])

In [87]:
df = df[(df["Code"] != "False")]

In [88]:
df.reset_index(drop=True)

    Code Count Code                 State
0          107   AK                Alaska
1            6   AL               Alabama
2            6   AR              Arkansas
3           16   AZ               Arizona
4          124   CA            California
5           30   CO              Colorado
6           12   CT           Connecticut
7           14   DC  District of Columbia
8            1   DE              Delaware
9           37   FL               Florida
10          13   GA               Georgia
11          24   HI                Hawaii
12          10   IA                  Iowa
13           7   ID                 Idaho
14          35   IL              Illinois
15          21   IN               Indiana
16           8   KS                Kansas
17          12   KY              Kentucky
18          18   LA             Louisiana
19          18   MA         Massachusetts
20          19   MD              Maryland
21           6   ME                 Maine
22          15   MI              Michigan
23          12   MN             Minnesota
24          26   MO              Missouri
25           5   MS           Mississippi
26          12   MT               Montana
27          21   NC        North Carolina
28           5   NE              Nebraska
29           5   NH         New Hampshire
30          38   NJ            New Jersey
31          22   NM            New Mexico
32          18   NV                Nevada
33          59   NY              New York
34          44   OH                  Ohio
35           4   OK              Oklahoma
36          11   OR                Oregon
37          32   PA          Pennsylvania
38           2   RI          Rhode Island
39           7   SC        South Carolina
40           2   SD          South Dakota
41          12   TN             Tennessee
42          50   TX                 Texas
43          18   UT                  Utah
44          19   VA              Virginia
45           3   VT               Vermont
46          26   WA            Washington
47           6   WI             Wisconsin
48          11   WV         West Virginia
49          21   WY               Wyoming

In [89]:
# Colorscale options
#['aggrnyl', 'agsunset', 'algae', 'amp', 'armyrose', 'balance',
#              'blackbody', 'bluered', 'blues', 'blugrn', 'bluyl', 'brbg',
#              'brwnyl', 'bugn', 'bupu', 'burg', 'burgyl', 'cividis', 'curl',
#              'darkmint', 'deep', 'delta', 'dense', 'earth', 'edge', 'electric',
#              'emrld', 'fall', 'geyser', 'gnbu', 'gray', 'greens', 'greys',
#              'haline', 'hot', 'hsv', 'ice', 'icefire', 'inferno', 'jet',
#              'magenta', 'magma', 'matter', 'mint', 'mrybm', 'mygbm', 'oranges',
#              'orrd', 'oryel', 'oxy', 'peach', 'phase', 'picnic', 'pinkyl',
#              'piyg', 'plasma', 'plotly3', 'portland', 'prgn', 'pubu', 'pubugn',
#              'puor', 'purd', 'purp', 'purples', 'purpor', 'rainbow', 'rdbu',
#              'rdgy', 'rdpu', 'rdylbu', 'rdylgn', 'redor', 'reds', 'solar',
#              'spectral', 'speed', 'sunset', 'sunsetdark', 'teal', 'tealgrn',
#              'tealrose', 'tempo', 'temps', 'thermal', 'tropic', 'turbid',
#              'turbo', 'twilight', 'viridis', 'ylgn', 'ylgnbu', 'ylorbr',
#              'ylorrd']

In [90]:
fig = go.Figure(data=go.Choropleth(
    locations = df['Code'],
    z=np.log10(df['Code Count']),
    customdata=df['Code Count'],
    hovertemplate='Total Crashes:%{customdata}',
    text = df['State'],
    colorscale = 'tropic',
    autocolorscale=False ,
    reversescale=False,
    locationmode="USA-states",
    marker_line_color='darkgray',
    # scope="usa",
    marker_line_width=0.5,
    colorbar=dict(len=0.75,
                  #title='#Cases', 
                  x=0.9,
                  tickvals = [0.5, 1, 1.5, 2, 2.5, 3],
                  ticktext = ['3', '10', '32', '100', '316', '1000']),
    
))

fig.update_layout(
    title_text='Plane Crashes from 1920 - 2024',
    # geo_scope='usa',
    geo=dict(
        # geo_scope='usa',
        scope='usa',
        showframe=False,
        showcoastlines=False,
        # projection_type='equirectangular'
    ),
    annotations = [dict(
        x=0.55,
        y=0.1,
        xref='paper',
        yref='paper',
        text='Source:<a href="https://www.planecrashinfo.com/database.htm"> Plane Crash Info</a>',
        showarrow = False
    )]
)

fig.show()