In [8]:
import plotly.graph_objects as go
import pandas as pd
import numpy as np

In [9]:
df1 = pd.read_csv('data/ready_for_plotting/data_plot_map.csv')

In [10]:
df1.head()

,Decade,Date,Time,Location,Operator,Flight_Num,Route,Ac_Type,Registration,Cn_Ln,Aboard,Fatalities,Ground,Summary,Aboard_Total,Fatalities_Total,Operator_vs_Military,Country_location,Code,Country_Geopy
0,1950,1953-01-05,2139,"Belfast, Northern Ireland",British European Airways,NaN,Northolt - Belfast,Vickers Viking 610-1B,G-AJDL,262,"{'total': 35, 'passengers': 31, 'crew': 4}","{'total': 27, 'passengers': 24, 'crew': 3}",0.0,Crashed into approach lights while attempting ...,35,27,British European Airways,"{'place_id': 372303099, 'licence': 'Data © Ope...",GBR,"Northern Ireland, United Kingdom"
1,1950,1953-01-07,2055,"Issaquah, Washington",Flying Tiger Line,841,Seattle - Cheyenne - Fort Jackson,Douglas C-54B-10-DO,N86574,18350,"{'total': 7, 'passengers': 3, 'crew': 4}","{'total': 7, 'passengers': 3, 'crew': 4}",0.0,The plane struck a tree on a mountain ridge at...,7,7,Flying Tiger Line,"{'place_id': 383391892, 'licence': 'Data © Ope...",USA,"Washington, United States"
2,1950,1953-01-07,0412,"Fish Haven, Idaho",Associated Air Transport,1-6-6A,Boeing Field - Cheyenne,Curtiss C-46,N1648M,22395,"{'total': 40, 'passengers': 37, 'crew': 3}","{'total': 40, 'passengers': 37, 'crew': 3}",0.0,The plane crashed into mountains while en rout...,40,40,Associated Air Transport,"{'place_id': 315821592, 'licence': 'Data © Ope...",USA,"Idaho, United States"
3,1950,1953-01-15,0448,"25 nm off Agrigento, Italy",Military -Royal Air Force,-,NaN,Vickers Valetta Mk1 / Avero Lancaster,VX562 / TX270,NaN,"{'total': 26, 'passengers': 16, 'crew': 10}","{'total': 26, 'passengers': 16, 'crew': 10}",0.0,Both aircraft crashed after a midair collision...,26,26,Military,"{'place_id': 100666283, 'licence': 'Data © Ope...",ITA,Italy
4,1950,1953-01-26,1144,"Sinnai, Sardinia, Italy",Linee Aeree Italiane,NaN,Cagliari - Rome,Douglas DC-3,I-LAIL,4308,"{'total': 19, 'passengers': 15, 'crew': 4}","{'total': 19, 'passengers': 15, 'crew': 4}",0.0,Crashed 10 miles east of Cagliari in the Sinna...,19,19,Linee Aeree Italiane,"{'place_id': 78523394, 'licence': 'Data © Open...",ITA,"Sardinia, Italy"

In [11]:
def check_unique(x):
    return x.split(',')[-1].strip()

In [12]:
'Bamyan Province, Afghanistan'.split(',')[-1].strip()

'Afghanistan'

In [13]:
#df2 = df1.groupby(['Code', 'Country_Geopy2'])['Code'].count()

KeyError: 'Country_Geopy2'

In [14]:
#df = pd.DataFrame(df2)

NameError: name 'df2' is not defined

In [ ]:
df

                           Code
Code Country_Geopy2
AFG  Afghanistan             45
AGO  Angola                  48
ALB  Albania                  2
ARE  United Arab Emirates    10
ARG  Argentina               43
...                         ...
WSM  Samoa                    2
YEM  Yemen                    7
ZAF  South Africa            21
ZMB  Zambia                   6
ZWE  Zimbabwe                 4

[189 rows x 1 columns]

In [ ]:
df.index.map(lambda x: check_unique(x[1]))

Index(['Afghanistan', 'Afghanistan', 'Afghanistan', 'Afghanistan',
       'Afghanistan', 'Afghanistan', 'Afghanistan', 'Afghanistan',
       'Afghanistan', 'Afghanistan',
       ...
       'South Africa', 'South Africa', 'South Africa', 'South Africa',
       'Zambia', 'Zambia', 'Zambia', 'Zambia', 'Zimbabwe', 'Zimbabwe'],
      dtype='object', length=863)

In [ ]:
df2 = df1.groupby(['Code', 'Country_Geopy'])['Code'].count()

In [ ]:
df = pd.DataFrame(df)

In [ ]:
df.columns = ['Code Count']
df

                           Code Count
Code Country_Geopy2
AFG  Afghanistan                   45
AGO  Angola                        48
ALB  Albania                        2
ARE  United Arab Emirates          10
ARG  Argentina                     43
...                               ...
WSM  Samoa                          2
YEM  Yemen                          7
ZAF  South Africa                  21
ZMB  Zambia                         6
ZWE  Zimbabwe                       4

[189 rows x 1 columns]

In [ ]:
df['Country_Geopy2'] = df.index.map(lambda x :x[1])

In [ ]:
fig = go.Figure(data=go.Choropleth(
    locations = df['Code'],
    z = df['Code Count'],
    text = df['Country_Geopy2'],
    colorscale = 'twilight',
    autocolorscale=False,
    reversescale=True,
    marker_line_color='darkgray',
    marker_line_width=0.5,
    #colorbar_tickprefix = '#',
    colorbar_title = 'Crash Count',
))

fig.update_layout(
    title_text='Plane Crashes from 1920 - 2024',
    geo=dict(
        showframe=False,
        showcoastlines=False,
        projection_type='equirectangular'
    ),
    annotations = [dict(
        x=0.55,
        y=0.1,
        xref='paper',
        yref='paper',
        text='Source: <a href="https://www.cia.gov/library/publications/the-world-factbook/fields/2195.html">\
            CIA World Factbook</a>',
        showarrow = False
    )]
)

fig.show()

NameError: name 'go' is not defined