In [1]:
import pandas as pd
import numpy as np 
import re 
from functions.extraction_and_cleaning import read_bronze

In [2]:
df = read_bronze()

In [3]:
df

,Date,Time,Location,Operator,Flight #,Route,AC\n Type,Registration,cn / ln,Aboard,Fatalities,Ground,Summary
0,"January 05, 1953",2139,"Belfast, Northern Ireland",British European Airways,?,Northolt - Belfast,Vickers Viking 610-1B,G-AJDL,262,35 (passengers:31 crew:4),27 (passengers:24 crew:3),0,Crashed into approach lights while attempting ...
1,"January 07, 1953",2055,"Issaquah, Washington",Flying Tiger Line,841,Seattle - Cheyenne - Fort Jackson,Douglas C-54B-10-DO,N86574,18350,7 (passengers:3 crew:4),7 (passengers:3 crew:4),0,The plane struck a tree on a mountain ridge at...
2,"January 07, 1953",0412,"Fish Haven, Idaho",Associated Air Transport,1-6-6A,Boeing Field - Cheyenne,Curtiss C-46,N1648M,22395,40 (passengers:37 crew:3),40 (passengers:37 crew:3),0,The plane crashed into mountains while en rout...
3,"January 15, 1953",0448,"25 nm off Agrigento, Italy",Military -Royal Air Force,-,?,Vickers Valetta Mk1 / Avero Lancaster,VX562 / TX270,?,26 (passengers:16 crew:10),26 (passengers:16 crew:10),0,Both aircraft crashed after a midair collision...
4,"January 26, 1953",1144,"Sinnai, Sardinia, Italy",Linee Aeree Italiane,?,Cagliari - Rome,Douglas DC-3,I-LAIL,4308,19 (passengers:15 crew:4),19 (passengers:15 crew:4),0,Crashed 10 miles east of Cagliari in the Sinna...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5032,"December 17, 1976",1940,"Ust-Kut, Russia",Aeroflot,?,Ust-Kut - Kirensk,Yakovlev 40,CCCP-88208,9631349,7 (passengers:4 crew:3),7 (passengers:4 crew:3),0,The cargo plane crashed into trees on takeoff....
5033,"December 17, 1976",21:30,"Kiev, USSR",Aeroflot,H-36,Chernivtsi - Kiev,Antonov AN-24RV,CCCP-46672,47309604,55 (passengers:50 crew:5),48 (passengers:44 crew:4),0,In heavy fog the crew continued their descend...
5034,"December 18, 1976",1656,"Nnear Yuzhno-Sakhalinsk, Russia",Aeroflot,?,Petropavlovsk-Kamchatsky - Yuzhno-Sakhalinsk,Ilyushin IL-14M,CCCP-61752,147001247,8 (passengers:3 crew:5),8 (passengers:3 crew:5),0,The survey fllight deviated from the approach ...
5035,"December 25, 1976",0345,"Near Bangkok, Thailand",EgyptAir,864,Cairo - Bangkok,Boeing B-707-366C,SU-AXA,20763,53 (passengers:44 crew:9),53 (passengers:44 crew:9),19,The aircraft crashed into an industrial area d...
5036,"December 31, 1976",?,"Near Trujillo, Peru",Faucett,?,Trujillo - Tarapoto,Douglas C-54A-1-DO,OB-R-247,7462,19 (passengers:14 crew:5),19 (passengers:14 crew:5),0,Struck the slope of Mt Pintado located 25 km n...

First lets fix the column names

In [62]:
new_names = []
for item in df.columns:
    item = item.lower()
    item = item.strip()
    item = item.replace("\n"," ")
    item = item.replace("/"," ")
    item = item.replace("#","num")
    item = item.split()
    item = "_".join(item)
    new_names.append(item.title())

In [63]:
df.columns = new_names

In [64]:
def clean_aboard(x):
    x = x.replace("(","").replace(")","").split()
    a, b, c = x[0], x[1].split(":")[-1], x[2].split(":")[-1]
    # try: 
    #     return {"total":int(a),"passengers":int(b),"crew":int(c)}
    # except:
    #     if a == "?":
    #         a = float("nan")
    #     if b == "?":
    #         b = float("nan")
    #     if c == "?":
    #         c = float("nan")
    return {"total":a,"passengers":b,"crew":c}

In [65]:
df.Aboard = df.Aboard.apply(clean_aboard)
df.Fatalities = df.Fatalities.apply(clean_aboard);

In [66]:
# df.iloc[1000]["Aboard"]

In [70]:
df.tail(10)

,Date,Time,Location,Operator,Flight_Num,Route,Ac_Type,Registration,Cn_Ln,Aboard,Fatalities,Ground,Summary
47,"November 04, 1976",?,"Banjarmasin, Indonesia",Bali International Air Service,?,Manado -Gorontalo - Palu - Balikpapan - Banjar...,Fokker F-27 Friendship 100,PK-KFR,10142,"{'total': '38', 'passengers': '33', 'crew': '5'}","{'total': '29', 'passengers': '25', 'crew': '4'}",0,"After overshooting the runway, a go-around was..."
48,"November 05, 1976",?,Atlantic Ocean,Inair Panama,?,Curacao - Port-au-Prince,Douglas DC-3,HP-671,43073,"{'total': '2', 'passengers': '0', 'crew': '2'}","{'total': '2', 'passengers': '0', 'crew': '2'}",0,The cargo plane went missing between Curacao -...
49,"November 23, 1976",0945,"Kozani, Greece",Olympic Airways,?,Athens - Larisa,NAMC YS-11A-500,SX-BBR,2156,"{'total': '50', 'passengers': '46', 'crew': '4'}","{'total': '50', 'passengers': '46', 'crew': '4'}",0,The airliner crashed into mountainous terrain ...
50,"November 28, 1976",1856,"Moscow, Russia",Aeroflot,2415,Moscow - Leningrad,Tupolev TU-104B,CCCP-42471,021204,"{'total': '73', 'passengers': '67', 'crew': '6'}","{'total': '73', 'passengers': '67', 'crew': '6'}",0,After taking off an artificial horizon failure...
51,"December 12, 1976",2326,"Cape May, New Jersey",Atlantic City Airlines,977,Atlantic City - Cap May,de Havilland Canada DHC-6 Twin Otter 300,N101AC,262,"{'total': '10', 'passengers': '8', 'crew': '2'}","{'total': '3', 'passengers': '3', 'crew': '1'}",0,The plane crashed short of the runway in rain....
52,"December 17, 1976",1940,"Ust-Kut, Russia",Aeroflot,?,Ust-Kut - Kirensk,Yakovlev 40,CCCP-88208,9631349,"{'total': '7', 'passengers': '4', 'crew': '3'}","{'total': '7', 'passengers': '4', 'crew': '3'}",0,The cargo plane crashed into trees on takeoff....
53,"December 17, 1976",21:30,"Kiev, USSR",Aeroflot,H-36,Chernivtsi - Kiev,Antonov AN-24RV,CCCP-46672,47309604,"{'total': '55', 'passengers': '50', 'crew': '5'}","{'total': '48', 'passengers': '44', 'crew': '4'}",0,In heavy fog the crew continued their descend...
54,"December 18, 1976",1656,"Nnear Yuzhno-Sakhalinsk, Russia",Aeroflot,?,Petropavlovsk-Kamchatsky - Yuzhno-Sakhalinsk,Ilyushin IL-14M,CCCP-61752,147001247,"{'total': '8', 'passengers': '3', 'crew': '5'}","{'total': '8', 'passengers': '3', 'crew': '5'}",0,The survey fllight deviated from the approach ...
55,"December 25, 1976",0345,"Near Bangkok, Thailand",EgyptAir,864,Cairo - Bangkok,Boeing B-707-366C,SU-AXA,20763,"{'total': '53', 'passengers': '44', 'crew': '9'}","{'total': '53', 'passengers': '44', 'crew': '9'}",19,The aircraft crashed into an industrial area d...
56,"December 31, 1976",?,"Near Trujillo, Peru",Faucett,?,Trujillo - Tarapoto,Douglas C-54A-1-DO,OB-R-247,7462,"{'total': '19', 'passengers': '14', 'crew': '5'}","{'total': '19', 'passengers': '14', 'crew': '5'}",0,Struck the slope of Mt Pintado located 25 km n...

In [68]:
# df["Fatalities"][df["Fatalities"]["total"] == 0]