In [13]:
import pandas as pd
import matplotlib.pyplot as plt 
# import tabulate
%matplotlib inline

In [ ]:
df = pd.read_json("data/silver/1920_2024_geopy.json")
df_country_codes = pd.read_json("data/country_codes.json")

In [ ]:
df[df.Country_location.apply(lambda x: isinstance(x,str))].to_csv("data/bad_data/unknown_country_location.csv")
df_country_codes[df_country_codes.name_geopy.apply(lambda x: isinstance(x,str))].to_csv("data/bad_data/unknown_country_codes.csv")

In [ ]:
df_ = df[df.Country_location.apply(lambda x: isinstance(x,dict))]
df_country_codes_ = df_country_codes[df_country_codes.name_geopy.apply(lambda x: isinstance(x,dict))]

In [ ]:
df_country_codes_["name_geopy"][0]

{'place_id': 220100631,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright',
 'osm_type': 'relation',
 'osm_id': 303427,
 'lat': '33.7680065',
 'lon': '66.2385139',
 'class': 'boundary',
 'type': 'administrative',
 'place_rank': 4,
 'importance': 0.7470274828,
 'addresstype': 'country',
 'name': 'Afghanistan',
 'display_name': 'Afghanistan',
 'boundingbox': ['29.3772926', '38.4910682', '60.5176034', '74.8898620']}

In [ ]:
df_["Country_location"][0]

{'place_id': 372303099,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 1219767831,
 'lat': '54.596391',
 'lon': '-5.9301829',
 'class': 'place',
 'type': 'city',
 'place_rank': 16,
 'importance': 0.6500238354,
 'addresstype': 'city',
 'name': 'Belfast',
 'display_name': 'Belfast, County Antrim, Northern Ireland, United Kingdom',
 'boundingbox': ['54.5306104', '54.6594247', '-6.0454798', '-5.8076879']}

In [ ]:
def unpack_locations(x):
    return ",".join([i for i in x['display_name'].split(",") if i.strip().isnumeric()==False][-2:]).strip()
    # return ",".join(x['display_name'].split(",")[-2:]).strip()

In [ ]:
df_country_codes_["Country_Geopy"] = df_country_codes_.name_geopy.apply(unpack_locations)
df_country_codes_ = df_country_codes_.set_index("Country_Geopy")

/var/folders/sr/32z6khr97xs2g11w52pbkzww0000gn/T/ipykernel_49440/3496400615.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country_codes_["Country_Geopy"] = df_country_codes_.name_geopy.apply(unpack_locations)

In [ ]:
df_["Country_Geopy"] = df_.Country_location.apply(unpack_locations)

/var/folders/sr/32z6khr97xs2g11w52pbkzww0000gn/T/ipykernel_49440/416814173.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_["Country_Geopy"] = df_.Country_location.apply(unpack_locations)

In [ ]:
df_country_codes_[:3]

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code,name_geopy
Country_Geopy,,,,,,,,,,,,
Afghanistan,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,None,142.0,34.0,NaN,"{'place_id': 220100631, 'licence': 'Data © Ope..."
"Åland Islands, Finland",Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,None,150.0,154.0,NaN,"{'place_id': 180167715, 'licence': 'Data © Ope..."
Albania,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,None,150.0,39.0,NaN,"{'place_id': 83081284, 'licence': 'Data © Open..."

In [ ]:
df_[:3]

,Decade,Date,Time,Location,Operator,Flight_Num,Route,Ac_Type,Registration,Cn_Ln,Aboard,Fatalities,Ground,Summary,Aboard_Total,Fatalities_Total,Operator_vs_Military,Country_location,Country_Geopy
0,1950,1953-01-05,2139,"Belfast, Northern Ireland",British European Airways,None,Northolt - Belfast,Vickers Viking 610-1B,G-AJDL,262,"{'total': 35, 'passengers': 31, 'crew': 4}","{'total': 27, 'passengers': 24, 'crew': 3}",0.0,Crashed into approach lights while attempting ...,35,27,British European Airways,"{'place_id': 372303099, 'licence': 'Data © Ope...","Northern Ireland, United Kingdom"
1,1950,1953-01-07,2055,"Issaquah, Washington",Flying Tiger Line,841,Seattle - Cheyenne - Fort Jackson,Douglas C-54B-10-DO,N86574,18350,"{'total': 7, 'passengers': 3, 'crew': 4}","{'total': 7, 'passengers': 3, 'crew': 4}",0.0,The plane struck a tree on a mountain ridge at...,7,7,Flying Tiger Line,"{'place_id': 383391892, 'licence': 'Data © Ope...","Washington, United States"
2,1950,1953-01-07,0412,"Fish Haven, Idaho",Associated Air Transport,1-6-6A,Boeing Field - Cheyenne,Curtiss C-46,N1648M,22395,"{'total': 40, 'passengers': 37, 'crew': 3}","{'total': 40, 'passengers': 37, 'crew': 3}",0.0,The plane crashed into mountains while en rout...,40,40,Associated Air Transport,"{'place_id': 315821592, 'licence': 'Data © Ope...","Idaho, United States"

In [ ]:
def get_code(x):
    try:
        return df_country_codes_.loc[x]["alpha-3"]
    except:
        return float("nan")

In [ ]:
df_["Code"] = df_.Country_Geopy.apply(get_code)

/var/folders/sr/32z6khr97xs2g11w52pbkzww0000gn/T/ipykernel_49440/3812215558.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_["Code"] = df_.Country_Geopy.apply(get_code)

In [ ]:
df_["Code"].info()

<class 'pandas.core.series.Series'>
Index: 4918 entries, 0 to 5036
Series name: Code
Non-Null Count  Dtype
--------------  -----
1641 non-null   object
dtypes: object(1)
memory usage: 205.9+ KB

In [ ]:
good = df_[df_.Code.apply(lambda x: not isinstance(x,float))]
good[:3]

,Decade,Date,Time,Location,Operator,Flight_Num,Route,Ac_Type,Registration,Cn_Ln,Aboard,Fatalities,Ground,Summary,Aboard_Total,Fatalities_Total,Operator_vs_Military,Country_location,Country_Geopy,Code
3,1950,1953-01-15,0448,"25 nm off Agrigento, Italy",Military -Royal Air Force,-,None,Vickers Valetta Mk1 / Avero Lancaster,VX562 / TX270,None,"{'total': 26, 'passengers': 16, 'crew': 10}","{'total': 26, 'passengers': 16, 'crew': 10}",0.0,Both aircraft crashed after a midair collision...,26,26,Military,"{'place_id': 100666283, 'licence': 'Data © Ope...",Italy,ITA
12,1950,1953-03-14,None,"Kalasahar, India",Orient Airways,None,Delhi - Dacca,Convair CV-240-7,AP-AEG,082,"{'total': 16, 'passengers': 11, 'crew': 5}","{'total': 16, 'passengers': 11, 'crew': 5}",0.0,Crashed into a mountain while en route in seve...,16,16,Orient Airways,"{'place_id': 246884012, 'licence': 'Data © Ope...",India,IND
13,1950,1953-03-17,None,"Off Da Nang, Vietnam",Aigle Azur,None,Hue - Da Nang,Douglas DC-3,F-BEFG,19105,"{'total': 8, 'passengers': None, 'crew': None}","{'total': 8, 'passengers': None, 'crew': None}",0.0,Crashed into the sea in poor weather conditions.,8,8,Aigle Azur,"{'place_id': 253747752, 'licence': 'Data © Ope...",Vietnam,VNM

In [ ]:
{i for i in good.Country_Geopy if "United States" in i}

{'American Samoa, United States',
 'Guam, United States',
 'New York, United States',
 'Puerto Rico, United States',
 'Texas, United States',
 'United States',
 'United States Virgin Islands, United States'}

In [ ]:
df_country_codes_

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code,name_geopy
Country_Geopy,,,,,,,,,,,,
Afghanistan,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,None,142.0,34.0,NaN,"{'place_id': 220100631, 'licence': 'Data © Ope..."
"Åland Islands, Finland",Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,None,150.0,154.0,NaN,"{'place_id': 180167715, 'licence': 'Data © Ope..."
Albania,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,None,150.0,39.0,NaN,"{'place_id': 83081284, 'licence': 'Data © Open..."
Algeria,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,None,2.0,15.0,NaN,"{'place_id': 77146891, 'licence': 'Data © Open..."
"American Samoa, United States",American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,None,9.0,61.0,NaN,"{'place_id': 32805879, 'licence': 'Data © Open..."
...,...,...,...,...,...,...,...,...,...,...,...,...
"Wallis and Futuna, France",Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,None,9.0,61.0,NaN,"{'place_id': 33145748, 'licence': 'Data © Open..."
"Dakhla-Oued Ed-Dahab, Morocco",Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,None,2.0,15.0,NaN,"{'place_id': 288513039, 'licence': 'Data © Ope..."
Yemen,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,None,142.0,145.0,NaN,"{'place_id': 69324426, 'licence': 'Data © Open..."
Zambia,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0,"{'place_id': 65568484, 'licence': 'Data © Open..."
Zimbabwe,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0,"{'place_id': 60730405, 'licence': 'Data © Open..."

In [ ]:
print(tabulate(df_country_codes_, headers='keys', tablefmt='psql'))

NameError: name 'tabulate' is not defined

In [ ]:
df_country_codes_[df_country_codes_["alpha-3"] == "VAT"]

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code,name_geopy
Country_Geopy,,,,,,,,,,,,
"Texas, United States",Holy See,VA,VAT,336,ISO 3166-2:VA,Europe,Southern Europe,None,150.0,39.0,NaN,"{'place_id': 293797351, 'licence': 'Data © Ope..."

In [ ]:
df_country_codes_.loc["Texas, United States"].name_geopy

{'place_id': 293797351,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 15440262,
 'lat': '30.0341947',
 'lon': '-95.8116685',
 'class': 'highway',
 'type': 'residential',
 'place_rank': 26,
 'importance': 0.10001,
 'addresstype': 'road',
 'name': 'Holy See',
 'display_name': 'Holy See, Harris County, Texas, 77447, United States',
 'boundingbox': ['30.0327048', '30.0355125', '-95.8116703', '-95.8114770']}

In [ ]:
good[good.Country_Geopy == 'Texas, United States']

,Decade,Date,Time,Location,Operator,Flight_Num,Route,Ac_Type,Registration,Cn_Ln,Aboard,Fatalities,Ground,Summary,Aboard_Total,Fatalities_Total,Operator_vs_Military,Country_location,Country_Geopy,Code
30,1950,1953-05-17,1415,"Near Marshall, Texas",Delta Air Lines,318,Dallas - Shreveport,Douglas DC-3,N28345,2224,"{'total': 20, 'passengers': 17, 'crew': 3}","{'total': 19, 'passengers': 16, 'crew': 3}",0.0,The plane crashed 13 miles east of Marashall T...,20,19,Delta Air Lines,"{'place_id': 305234088, 'licence': 'Data © Ope...","Texas, United States",VAT
127,1940,1947-10-08,0755,"Near El Paso, Texas",American Airlines,311,New York City - Dallas - Los Angeles,Douglas DC-4,NC90432,10314/DC45,"{'total': 54, 'passengers': 49, 'crew': 5}","{'total': 0, 'passengers': 0, 'crew': 0}",0.0,"While cruising at 8,000 ft. in clear weather, ...",54,0,American Airlines,"{'place_id': 305234088, 'licence': 'Data © Ope...","Texas, United States",VAT
276,1980,1985-03-12,None,"Fort Hood, Texas",Military - U.S. Air Force,None,Training,Lockheed C-130E Hercules,64-0549,4044,"{'total': 6, 'passengers': 0, 'crew': 6}","{'total': 6, 'passengers': 0, 'crew': 6}",0.0,Stalled during a training exercise and crashed.,6,6,Military,"{'place_id': 305209333, 'licence': 'Data © Ope...","Texas, United States",VAT
292,1980,1985-08-02,1806,"Ft. Worth-Dallas, Texas",Delta Air Lines,191,Fort Lauderdale - Dallas-Fort Worth,Lockheed L-1011-1 TriStar,N726DA,1163,"{'total': 163, 'passengers': 152, 'crew': 11}","{'total': 134, 'passengers': 126, 'crew': 8}",1.0,"While on a flight from Fort Lauderdale, FL to ...",163,134,Delta Air Lines,"{'place_id': 320023213, 'licence': 'Data © Ope...","Texas, United States",VAT
316,1980,1985-12-31,1714,"De Kalb, Texas",Private,None,Guntersville - Dallas/Ft. Worth,Douglas DC-3,N711Y,13658,"{'total': 9, 'passengers': 7, 'crew': 2}","{'total': 7, 'passengers': 7, 'crew': 0}",0.0,The plane crash landed into a field and struck...,9,7,Private,"{'place_id': 321005060, 'licence': 'Data © Ope...","Texas, United States",VAT
361,1990,1991-09-11,1003,"Near Eagle Lake, Texas",Continental Express,2574,Laredo - Houston,Embraer 120RT Brasilia,N33701,120-077,"{'total': 14, 'passengers': 11, 'crew': 3}","{'total': 14, 'passengers': 11, 'crew': 3}",0.0,In-flight loss of the leading edge of the left...,14,14,Continental Express,"{'place_id': 305234088, 'licence': 'Data © Ope...","Texas, United States",VAT
487,1950,1952-03-12,None,"Near Sequin, Texas",Military - U.S. Air Force / U.S. Air Force,None,Training,Boeing B-29 / Boeing B-29,None,None,"{'total': 15, 'passengers': 0, 'crew': 15}","{'total': 15, 'passengers': 0, 'crew': 15}",NaN,While on a training mission and flying blind o...,15,15,Military,"{'place_id': 305234088, 'licence': 'Data © Ope...","Texas, United States",VAT
552,1970,1978-04-04,2320,"Off Galveston, Texas",Air Logistics,None,None,Bell 212,N140AL,None,"{'total': 6, 'passengers': 4, 'crew': 2}","{'total': 3, 'passengers': 3, 'crew': 0}",0.0,The helicopter was attempting to land on an oi...,6,3,Air Logistics,"{'place_id': 294114023, 'licence': 'Data © Ope...","Texas, United States",VAT
930,1980,1986-10-04,0410,"San Antonio, Texas",Southern Air Transport,15,Kelly AFB - Warner Robins AFB,Lockheed L-100-30 Hercules,N15ST,4391,"{'total': 3, 'passengers': 0, 'crew': 3}","{'total': 3, 'passengers': 0, 'crew': 3}",0.0,The cargo plane lost altitude and crashed inve...,3,3,Southern Air Transport,"{'place_id': 304608347, 'licence': 'Data © Ope...","Texas, United States",VAT
973,1950,1951-06-03,1345,"New Boston, Texas",Military - U.S. Air Force,None,Fort Campbell - Lawton,Fairchild C-82,45-57761,10131,"{'total': 10, 'passengers': 0, 'crew': 10}","{'total': 10, 'passengers': 0, 'crew': 10}",0.0,Struck by lightning and crashed.,10,10,Military,"{'place_id': 320980508, 'licence': 'Data © Ope...","Texas, United States",VAT
1039,1940,1945-04-20,0640,"Sweetwater, Texas",Military - U.S. Army Air Forces,None,"Midland, TX - Nashville, TN",Douglas C-47-DL,41-18451,4513,"{'total': 25, 'passengers': 22, 'crew': 3}","{'total': 25, 'passengers': 22, 'crew': 3}",0.0,Broke-up after entering an area of thunderstor...,25,25,Military,"{'place_id': 319207973, 'licence': 'Data © Ope...","Texas, United States",VAT
1052,1940,1945-06-30,None,Texas,Military - U.S. Air Force,None,None,Boeing TB-29A Super Fortress,44-69943,None,"{'total': 12, 'passengers': None, 'crew': None}","{'total': 12, 'passengers': None, 'crew': None}",0.0,None,12,12,Military,"{'place_id': 305234088, 'licence': 'Data © Ope...","Texas, United States",VAT
1079,1940,1945-11-08,2000,"Off Corpus Christi, Texas",Military - U.S. Navy / Military - U.S. Navy,None,None,Martin PBM-3S / Martin PBM-5,01710 / 69113,None,"{'total': 27, 'passengers': None, 'crew': None}","{'total': 22, 'passengers': None, 'crew': None}",0.0,The aircraft expierence a midair collision ove...,27,22,Military,"{'place_id': 305234088, 'licence': 'Data © Ope...","Texas, United States",VAT
1231,1950,1955-11-17,2359,"Seattle, Washingon",Peninsular,17K,Seattle - Newark,Douglas C-54,N88852,3123,"{'total': 74, 'passengers': 70, 'crew': 4}","{'total': 28, 'passengers': 27, 'crew': 1}",0.0,Crashed on takeoff. In-flight prop failure. M...,74,28,Peninsular,"{'place_id': 304602373, 'licence': 'Data © Ope...","Texas, United States",VAT
1557,1960,1968-05-03,1548,"Near Dawson, Texas",Braniff Airlines,352,Houston - Dallas-Fort Worth,Lockheed L188A Electra,N9707C,1099,"{'total': 85, 'passengers': 80, 'crew': 5}","{'total': 85, 'passengers': 80, 'crew': 5}",0.0,On a flight from Houston to Dallas the airline...,85,85,Braniff Airlines,"{'place_id': 305234088, 'licence': 'Data © Ope...","Texas, United States",VAT
1902,1980,1980-03-21,1949,"Houston, Texas",Eagle Commuter,None,Houston - Brownwood,Piper PA-28-180,N55932,28-7305503,"{'total': 10, 'passengers': 8, 'crew': 2}","{'total': 7, 'passengers': 5, 'crew': 2}",0.0,The right engine failed while taking off. The ...,10,7,Eagle Commuter,"{'place_id': 293928464, 'licence': 'Data © Ope...","Texas, United States",VAT
1930,1980,1980-11-28,2135,"Pecos City, Texas",Central Air Services,None,None,Douglas DC-7B,N816D,45085/714,"{'total': 2, 'passengers': 0, 'crew': 2}","{'total': 2, 'passengers': 0, 'crew': 2}",0.0,The cargo plane entered a steep bank shortly a...,2,2,Central Air Services,"{'place_id': 305292821, 'licence': 'Data © Ope...","Texas, United States",VAT
2037,1940,1943-09-10,1600,"Off Galveston, Texas",Military - U.S. Army Air Forces,None,None,Boeing B-17F / Boeing B-17F,42-4621/42-6031,None,"{'total': 22, 'passengers': 0, 'crew': 22}","{'total': 22, 'passengers': 0, 'crew': 22}",0.0,Midair collision over the Gulf of Mexico while...,22,22,Military,"{'place_id': 294114023, 'licence': 'Data © Ope...","Texas, United States",VAT
2131,1930,1930-07-10,None,"Arkansas Pass, Texas",Cross Airways,None,Port Aransas - Kansas City,Lockheed Vega 5,NC-394H,087,"{'total': 5, 'passengers': 4, 'crew': 1}","{'total': 5, 'passengers': 4, 'crew': 1}",0.0,The aircraft exploded in the air at an altitud...,5,5,Cross Airways,"{'place_id': 304258220, 'licence': 'Data © Ope...","Texas, United States",VAT
2172,2000,2008-06-08,0745,"Huntsville, Texas",PHI Air Medical,None,Huntsville-Houston,Bell 407,N416PH,53276,"{'total': 4, 'passengers': 1, 'crew': 3}","{'total': 4, 'passengers': 1, 'crew': 3}",0.0,The medical helicopter crashed into the Sam Ho...,4,4,PHI Air Medical,"{'place_id': 293735450, 'licence': 'Data © Ope...","Texas, United States",VAT
2201,2000,2008-12-11,0625,"Off Sabine Pass, Texas",Rotorcraft Leasing Co,None,Sabine Pass - Oil Platform,Bell 206-L4 Jet Ranger III,N180AL,52104,"{'total': 3, 'passengers': 3, 'crew': 2}","{'total': 3, 'passengers': 3, 'crew': 2}",0.0,The helicopter ferrying workers to an off shor...,3,3,Rotorcraft Leasing Co,"{'place_id': 305234088, 'licence': 'Data © Ope...","Texas, United States",VAT
2221,2000,2009-01-01,0437,"Lubock, Texas",Empire Airlines leased from FedEx,8284,Fort Worth - Lubbock,ATR-42-320,N902FX,175,"{'total': 2, 'passengers': 0, 'crew': 2}","{'total': 2, 'passengers': 0, 'crew': 2}",0.0,Crashed while attempting to land. The probable...,2,2,Empire Airlines leased from FedEx,"{'place_id': 305234088, 'licence': 'Data © Ope...","Texas, United States",VAT
2334,1930,1933-01-20,02:07,"Bourne, Texas",American Airways,None,Big Springs - San Antonio,Stearman 4,NC11721,4039,"{'total': 1, 'passengers': 0, 'crew': 1}","{'total': 1, 'passengers': 0, 'crew': 1}",0.0,The pilot of the mail plane lost his bearings ...,1,1,American Airways,"{'place_id': 319773871, 'licence': 'Data © Ope...","Texas, United States",VAT
2386,1930,1932-09-08,c:09:00,"Salt Flats, Texas",American Airways,None,El Paso - Dallas,Fokker F-10,NC9716,1009,"{'total': 4, 'passengers': 2, 'crew': 2}","{'total': 3, 'passengers': 1, 'crew': 2}",0.0,The mail plane struck a mountain and burned af...,4,3,American Airways,"{'place_id': 320097383, 'licence': 'Data © Ope...","Texas, United States",VAT
2394,1930,1932-12-14,None,"Amarillo, Texas",Trans Continental and Western Air,None,None,Ford 5,NC9650,5-AT-037,"{'total': 2, 'passengers': 0, 'crew': 2}","{'total': 2, 'passengers': 0, 'crew': 2}",0.0,The mail plane crashed in a snowstorm. The pil...,2,2,Trans Continental and Western Air,"{'place_id': 319302858, 'licence': 'Data © Ope...","Texas, United States",VAT
2427,1930,1936-01-29,None,"Denton, Texas",American Airlines,None,Chicago - Oklahoma City,Vultee V-1,NC13767,05,"{'total': 6, 'passengers': 5, 'crew': 1}","{'total': 1, 'passengers': 0, 'crew': 1}",0.0,Crashed into a clump of trees while attempting...,6,1,American Airlines,"{'place_id': 319737282, 'licence': 'Data © Ope...","Texas, United States",VAT
2470,1930,1936-12-23,None,"Near Dallas, Texas",Braniff Airways,None,Test flight,Lockheed 10 Electra,NC14905,1018,"{'total': 6, 'passengers': 4, 'crew': 2}","{'total': 6, 'passengers': 4, 'crew': 2}",0.0,After an attempted go-around the right engine ...,6,6,Braniff Airways,"{'place_id': 320724873, 'licence': 'Data © Ope...","Texas, United States",VAT
2546,1930,1935-08-14,2345,"Near Gilmer, Texas",Delta Air Lines,4,Dallas - Atlanta,Stinson Model A,NC14599,9103,"{'total': 4, 'passengers': 3, 'crew': 1}","{'total': 4, 'passengers': 3, 'crew': 1}",0.0,Crashed 3 miles south of Gilmer. The outboard ...,4,4,Delta Air Lines,"{'place_id': 305234088, 'licence': 'Data © Ope...","Texas, United States",VAT
2557,1930,1935-11-09,0440,"Near Fort Worth, Texas",Braniff Airlines,None,Dallas - Waco,Lockheed Vega,NC980Y,191,"{'total': 1, 'passengers': 0, 'crew': 1}","{'total': 1, 'passengers': 0, 'crew': 1}",0.0,Plunged to the ground thirty minutes after lea...,1,1,Braniff Airlines,"{'place_id': 320176952, 'licence': 'Data © Ope...","Texas, United States",VAT
2577,2010,2019-02-23,1245,"Houston, Texas",Atlas Air serving Amazon,3591,Miami - Houston,Boeing 767-375ER,N1217A,25865,"{'total': 3, 'passengers': 0, 'crew': 3}","{'total': 3, 'passengers': 0, 'crew': 3}",0.0,ATC lost radar contact with the cargo jet when...,3,3,Atlas Air serving Amazon,"{'place_id': 293928464, 'licence': 'Data © Ope...","Texas, United States",VAT
2819,2010,2014-10-04,0156,"Wichita Falls, Texas",Air Evac Lifeteam,None,"Waurika, OK - Wichita Falls, TX",Bell 206L,None,None,"{'total': 4, 'passengers': 1, 'crew': 3}","{'total': 2, 'passengers': 1, 'crew': 1}",0.0,The air ambulance crashed while transporting a...,4,2,Air Evac Lifeteam,"{'place_id': 319844891, 'licence': 'Data © Ope...","Texas, United States",VAT
2954,2010,2016-07-30,0742,"Near Lockhart, Texas",Heart of Texas Hot Air Balloon Rides,None,Sightseeing Fentress Airpark,Kubicek BB85Z Hot Air Balloon,N2469L,None,"{'total': 16, 'passengers': 15, 'crew': 1}","{'total': 16, 'passengers': 15, 'crew': 1}",NaN,The hot air balloon struck power lines and cra...,16,16,Heart of Texas Hot Air Balloon Rides,"{'place_id': 305234088, 'licence': 'Data © Ope...","Texas, United States",VAT
3061,2000,2003-09-19,1710,"Del Rio, Texas",Ameristar Jet Charter,982,El Paso - Del Rio,Learjet 25B,N666TW,25-116,"{'total': 2, 'passengers': 0, 'crew': 2}","{'total': 1, 'passengers': 0, 'crew': 1}",0.0,After touching down the aircraft did not brake...,2,1,Ameristar Jet Charter,"{'place_id': 304363789, 'licence': 'Data © Ope...","Texas, United States",VAT
3257,1920,1928-12-01,c 10:00,"Spur, Texas",Sunbeam Air Transport Co.,None,San Antonio - Amarillo - Tulsa - Denver,Ford 4-AT-B Tri Motor,NC7862,4-AT-47,"{'total': 5, 'passengers': 4, 'crew': 1}","{'total': 5, 'passengers': 4, 'crew': 1}",0.0,The aircraft crashed and burned while en route...,5,5,Sunbeam Air Transport Co.,"{'place_id': 319179277, 'licence': 'Data © Ope...","Texas, United States",VAT
3270,2000,2004-03-21,0220,"Pyote, Texas",Air Ambulance - Med-Trans Corp.,None,"Odessa, TX - Lubbock, TX",Bell 407,N502MT,53549,"{'total': 5, 'passengers': 4, 'crew': 1}","{'total': 4, 'passengers': 3, 'crew': 1}",0.0,The helicopter impacted terrain while maneuver...,5,4,Air Ambulance - Med-Trans Corp.,"{'place_id': 305365561, 'licence': 'Data © Ope...","Texas, United States",VAT
3303,2000,2004-11-22,0615,"Houston, Texas",Business Jet Services,None,Dallas - Houston,Grumman Gulfstream G3,N85VT,449,"{'total': 3, 'passengers': 0, 'crew': 3}","{'total': 3, 'passengers': 0, 'crew': 3}",0.0,"While on final approach, the aircraft struck a...",3,3,Business Jet Services,"{'place_id': 293928464, 'licence': 'Data © Ope...","Texas, United States",VAT
3469,1920,1929-12-30,c 17:00,"Amarillo, Texas",Trans Continental Air Transport,None,Demonistration,Travel Air B6000,None,None,"{'total': 5, 'passengers': 3, 'crew': 2}","{'total': 5, 'passengers': 3, 'crew': 2}",0.0,Crashed onto a golf course while on approach ...,5,5,Trans Continental Air Transport,"{'place_id': 319302858, 'licence': 'Data © Ope...","Texas, United States",VAT
3498,1970,1972-05-30,0624,"Dallas/Ft. Worth, Texas",Delta Air Lines,9570,Training,McDonnell Douglas DC-9-14,N3305L,45700,"{'total': 4, 'passengers': 0, 'crew': 4}","{'total': 4, 'passengers': 0, 'crew': 4}",0.0,While practicing touch and go landing the airc...,4,4,Delta Air Lines,"{'place_id': 320023213, 'licence': 'Data © Ope...","Texas, United States",VAT
3863,1950,1959-02-01,2350,"Kerrville, Texas",General Airways,None,"Pueblo, CO - San Antoonio, TX",Douglas DC-3,N17314,1924,"{'total': 28, 'passengers': 30, 'crew': 2}","{'total': 3, 'passengers': 1, 'crew': 2}",0.0,The aircraft crashed into a hill while attempt...,28,3,General Airways,"{'place_id': 304579997, 'licence': 'Data © Ope...","Texas, United States",VAT
3895,1950,1959-09-02,1716,"Abilene, Texas",Aaxico Airlines,None,"Abilene, TX - Forth Worth, TX",Curtiss C-46A,N5140B,26809,"{'total': 2, 'passengers': 0, 'crew': 2}","{'total': 2, 'passengers': 0, 'crew': 2}",0.0,"The cargo plane took off, rose to 200 ft., sta...",2,2,Aaxico Airlines,"{'place_id': 319840112, 'licence': 'Data © Ope...","Texas, United States",VAT
3901,1950,1959-09-29,2309,"Buffalo, Texas",Braniff Airlines,542,Houston - Dallas,Lockheed 188A Electra,N9705C,1090,"{'total': 34, 'passengers': 28, 'crew': 6}","{'total': 34, 'passengers': 28, 'crew': 6}",0.0,In-flight separation of the left wing resulted...,34,34,Braniff Airlines,"{'place_id': 305255340, 'licence': 'Data © Ope...","Texas, United States",VAT
4189,1950,1958-03-27,1615,"Bridgeport, Texas",Military - U.S. Air Force/Military - U.S. Air ...,None,San Antionio - OK City / Wichita Falls - Forth...,Douglas C-124C / Fairchild C-119C,52-981A/49-195A,43890 /10432,"{'total': 18, 'passengers': 13, 'crew': 5}","{'total': 18, 'passengers': 13, 'crew': 5}",0.0,"Collided in midair while cruising at 6,000 ft....",18,18,Military,"{'place_id': 319800263, 'licence': 'Data © Ope...","Texas, United States",VAT
4333,1970,1974-04-30,1347,"Galveston, Texas",Houston Metro Airlines,None,"Galveston, TX - Houston, TX",Beechcraft 99,N853SA,U-41,"{'total': 12, 'passengers': 10, 'crew': 2}","{'total': 6, 'passengers': 5, 'crew': 1}",0.0,Crashed during takeoff. Inadequate preflight p...,12,6,Houston Metro Airlines,"{'place_id': 294182466, 'licence': 'Data © Ope...","Texas, United States",VAT
4505,1940,1949-11-29,05:49,"Dallas, Texas",American Airlines,157,New York City - Mexico City,Douglas DC-6,N90728,42895/58,"{'total': 46, 'passengers': 41, 'crew': 5}","{'total': 28, 'passengers': 26, 'crew': 2}",0.0,"During a pull-up for a go-around, after attemp...",46,28,American Airlines,"{'place_id': 320795665, 'licence': 'Data © Ope...","Texas, United States",VAT
4523,1970,1975-02-01,0858,"Houston, Texas",Horizon Properties,None,"Lawton, OK - Huntsville, TX",Douglas DC-3C,N15HC,43080,"{'total': 16, 'passengers': 14, 'crew': 2}","{'total': 5, 'passengers': 3, 'crew': 2}",0.0,The flight was diverted to Houston because wea...,16,5,Horizon Properties,"{'place_id': 293928464, 'licence': 'Data © Ope...","Texas, United States",VAT
4741,1960,1963-09-22,None,"Off Dover, Deleware",Military - U.S. Air Force,None,"Dover AFB - Lajes, Azores",Douglas C-133A,56-2002,45167,"{'total': 10, 'passengers': 0, 'crew': 10}","{'total': 10, 'passengers': 0, 'crew': 10}",0.0,About 57 minutes after its departure from Dove...,10,10,Military,"{'place_id': 320868056, 'licence': 'Data © Ope...","Texas, United States",VAT
4794,1980,1988-08-31,0901,"Dallas, Texas",Delta Air Lines,1141,"Dallas/Fort Worth, TX - Salt Lake City, UT",Boeing B-727-232 Adv,N473DA,20750/992,"{'total': 108, 'passengers': 101, 'crew': 7}","{'total': 14, 'passengers': 12, 'crew': 2}",0.0,The aircraft stalled and crashed during takeof...,108,14,Delta Air Lines,"{'place_id': 320795665, 'licence': 'Data © Ope...","Texas, United States",VAT
4819,1980,1989-01-31,1210,"Near Abilene, Texas",Military - U.S. Air Force,None,Dyess AFB - Hawaii,Boeing KC-135A,63-7990,18607/646,"{'total': 19, 'passengers': 12, 'crew': 7}","{'total': 19, 'passengers': 12, 'crew': 7}",0.0,Crashed in flames after taking off from Dyess ...,19,19,Military,"{'place_id': 305234088, 'licence': 'Data © Ope...","Texas, United States",VAT
4829,1980,1989-03-18,0215,"Carswell AFB, Texas",Evergreen International Airlines,None,"Fort Worth, TX - Oklahoma City, OK",McDonnell Douglas DC-9-33RC,N931F,47192/287,"{'total': 2, 'passengers': 0, 'crew': 2}","{'total': 2, 'passengers': 0, 'crew': 2}",0.0,The loss of control of the airplane for undete...,2,2,Evergreen International Airlines,"{'place_id': 305234088, 'licence': 'Data © Ope...","Texas, United States",VAT
4878,1980,1989-10-06,2205,"Uncertain, Texas",Winchester Air,None,Uncertain - Destsin,Cessna 208 Caravan I,N208W,208-00115,"{'total': 5, 'passengers': 3, 'crew': 2}","{'total': 5, 'passengers': 3, 'crew': 2}",0.0,"The aircraft took off, made a left turn and cr...",5,5,Winchester Air,"{'place_id': 320952387, 'licence': 'Data © Ope...","Texas, United States",VAT

In [ ]:
good.Country_Geopy.value_counts()

Country_Geopy
Russia                     138
Colombia                    76
Brazil                      66
New York, United States     59
Texas, United States        50
                          ...
New Caledonia, France        1
Gibraltar                    1
Bhutan                       1
United States                1
Lesotho                      1
Name: count, Length: 160, dtype: int64

In [ ]:
bad = df_[df_.Code.apply(lambda x: isinstance(x,float))]

In [ ]:
k.Country_Geopy

NameError: name 'k' is not defined

In [ ]:
p = [i for i in k.Country_Geopy if "United States" in i]

In [ ]:
len(p)

926

In [ ]:
set(p)

{'Alabama, United States',
 'Alaska, United States',
 'Arizona, United States',
 'Arkansas, United States',
 'California, United States',
 'Colorado, United States',
 'Connecticut, United States',
 'Delaware, United States',
 'District of Columbia, United States',
 'Florida, United States',
 'Georgia, United States',
 'Hawaii, United States',
 'Idaho, United States',
 'Illinois, United States',
 'Indiana, United States',
 'Iowa, United States',
 'Kansas, United States',
 'Kentucky, United States',
 'Louisiana, United States',
 'Maine, United States',
 'Maryland, United States',
 'Massachusetts, United States',
 'Michigan, United States',
 'Minnesota, United States',
 'Mississippi, United States',
 'Missouri, United States',
 'Montana, United States',
 'Nebraska, United States',
 'Nevada, United States',
 'New Hampshire, United States',
 'New Jersey, United States',
 'New Mexico, United States',
 'North Carolina, United States',
 'Ohio, United States',
 'Oklahoma, United States',
 'Oregon, United States',
 'Pennsylvania, United States',
 'Rhode Island, United States',
 'South Carolina, United States',
 'South Dakota, United States',
 'Tennessee, United States',
 'Utah, United States',
 'Vermont, United States',
 'Virginia, United States',
 'Washington, United States',
 'West Virginia, United States',
 'Wisconsin, United States',
 'Wyoming, United States'}

In [ ]:
# import json
# import pandas as pd
# import plotly.express as px

# with open("data/geojson-counties-fips.json", "r") as f:
#     counties = json.load(f)

# import pandas as pd
# df = pd.read_csv("data/fips-unemp-16.csv",
#                    dtype={"fips": str})

# fig = px.choropleth(df, geojson=counties, locations='fips', color='unemp',
#                            color_continuous_scale="viridis",
#                            range_color=(0, 12),
#                         #    scope="usa",
#                            labels={'unemp':'unemployment rate'}
#                           )
# fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
# fig.show()

In [ ]:
# import plotly.express as px

# # Sample data: a list of dictionaries
# # Each dictionary represents a point with a latitude, longitude, and some value.
# data = [
#     {"lat": 34.0522, "lon": -118.2437, "value": 10},  # Los Angeles
#     {"lat": 40.7128, "lon": -74.0060, "value": 20},  # New York
#     {"lat": 37.7749, "lon": -122.4194, "value": 30},  # San Francisco
# ]

# # Convert the list of dictionaries to a DataFrame
# import pandas as pd
# df = pd.DataFrame(data)

# # Plot using scatter_geo
# fig = px.scatter_geo(df,
#                      lat="lat",
#                      lon="lon",
#                      size="value",  # Adjust the size of each point based on the "value"
#                      )

# # Show the figure
# fig.show()

In [ ]:
# import plotly.express as px

# fig = px.choropleth(locations=["Northern Ireland, United Kingdom"], color=[1,2,3],)
# fig.show()

In [ ]:
# import plotly.express as px

# # Assuming 'df' is your DataFrame with 'lat' and 'lon' columns
# px.set_mapbox_access_token('your_mapbox_access_token_here')

# fig = px.density_mapbox(df, lat='lat', lon='lon', z='value', radius=10,
#                         center=dict(lat=0, lon=180), zoom=0,
#                         mapbox_style="stamen-terrain")

# fig.show()

In [ ]:
# import plotly.express as px
# import pandas as pd

# df = pd.read_csv("location_coordinate.csv")

# fig = px.scatter_geo(df,lat='lat',lon='long', hover_name="id")
# fig.update_layout(title = 'World map', title_x=0.5)
# fig.show()

In [ ]:
# df.Date = df.Date.astype(str)

In [ ]:
# df.to_json("data/silver/1920_2024_geopy.json")