In [41]:
import pandas as pd
import matplotlib.pyplot as plt 
from IPython.display import display
# import tabulate
%matplotlib inline

In [42]:
df = pd.read_json("data/silver/1920_2024_geopy.json")
df_country_codes = pd.read_json("data/country_codes.json")

In [43]:
df[df.Country_location.apply(lambda x: isinstance(x,str))].to_csv("data/bad_data/unknown_country_location.csv")
df_country_codes[df_country_codes.name_geopy.apply(lambda x: isinstance(x,str))].to_csv("data/bad_data/unknown_country_codes.csv")

In [44]:
df_country_codes[:4]

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code,name_geopy
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,None,142.0,34.0,NaN,"{'place_id': 220100631, 'licence': 'Data © Ope..."
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,None,150.0,154.0,NaN,"{'place_id': 180167715, 'licence': 'Data © Ope..."
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,None,150.0,39.0,NaN,"{'place_id': 83081284, 'licence': 'Data © Open..."
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,None,2.0,15.0,NaN,"{'place_id': 77146891, 'licence': 'Data © Open..."

In [45]:
df_ = df[df.Country_location.apply(lambda x: isinstance(x,dict))]
df_country_codes_ = df_country_codes[df_country_codes.name_geopy.apply(lambda x: isinstance(x,dict))]

In [46]:
df_country_codes_["name_geopy"][0]

{'place_id': 220100631,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright',
 'osm_type': 'relation',
 'osm_id': 303427,
 'lat': '33.7680065',
 'lon': '66.2385139',
 'class': 'boundary',
 'type': 'administrative',
 'place_rank': 4,
 'importance': 0.7470274828,
 'addresstype': 'country',
 'name': 'Afghanistan',
 'display_name': 'Afghanistan',
 'boundingbox': ['29.3772926', '38.4910682', '60.5176034', '74.8898620']}

In [47]:
df_["Country_location"][0]

{'place_id': 372303099,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 1219767831,
 'lat': '54.596391',
 'lon': '-5.9301829',
 'class': 'place',
 'type': 'city',
 'place_rank': 16,
 'importance': 0.6500238354,
 'addresstype': 'city',
 'name': 'Belfast',
 'display_name': 'Belfast, County Antrim, Northern Ireland, United Kingdom',
 'boundingbox': ['54.5306104', '54.6594247', '-6.0454798', '-5.8076879']}

In [48]:
def unpack_locations(x,a=-2):
    "Check if is numeric or alpha numeric"
    return ",".join([i for i in x['display_name'].split(",") if i.strip().isnumeric()==False][a:]).strip()

def get_country_codes(df):
    df["Country_Geopy"] = df.name_geopy.apply(unpack_locations)
    return df

# def unpack_locations_part(x):
#     return ",".join([i for i in x['display_name'].split(",") if i.strip().isnumeric()==False][-1:]).strip()

In [49]:
df_country_codes_["Country_Geopy"] = df_country_codes_.name_geopy.apply(unpack_locations)
df_country_codes_ = df_country_codes_.set_index("Country_Geopy")

/var/folders/sr/32z6khr97xs2g11w52pbkzww0000gn/T/ipykernel_64845/3496400615.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country_codes_["Country_Geopy"] = df_country_codes_.name_geopy.apply(unpack_locations)

In [50]:
df_["Country_Geopy"] = df_.Country_location.apply(unpack_locations)

/var/folders/sr/32z6khr97xs2g11w52pbkzww0000gn/T/ipykernel_64845/416814173.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_["Country_Geopy"] = df_.Country_location.apply(unpack_locations)

In [51]:
df_country_codes_[:3]

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code,name_geopy
Country_Geopy,,,,,,,,,,,,
Afghanistan,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,None,142.0,34.0,NaN,"{'place_id': 220100631, 'licence': 'Data © Ope..."
"Åland Islands, Finland",Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,None,150.0,154.0,NaN,"{'place_id': 180167715, 'licence': 'Data © Ope..."
Albania,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,None,150.0,39.0,NaN,"{'place_id': 83081284, 'licence': 'Data © Open..."

In [52]:
df_[:2]

,Decade,Date,Time,Location,Operator,Flight_Num,Route,Ac_Type,Registration,Cn_Ln,Aboard,Fatalities,Ground,Summary,Aboard_Total,Fatalities_Total,Operator_vs_Military,Country_location,Country_Geopy
0,1950,1953-01-05,2139,"Belfast, Northern Ireland",British European Airways,None,Northolt - Belfast,Vickers Viking 610-1B,G-AJDL,262,"{'total': 35, 'passengers': 31, 'crew': 4}","{'total': 27, 'passengers': 24, 'crew': 3}",0.0,Crashed into approach lights while attempting ...,35,27,British European Airways,"{'place_id': 372303099, 'licence': 'Data © Ope...","Northern Ireland, United Kingdom"
1,1950,1953-01-07,2055,"Issaquah, Washington",Flying Tiger Line,841,Seattle - Cheyenne - Fort Jackson,Douglas C-54B-10-DO,N86574,18350,"{'total': 7, 'passengers': 3, 'crew': 4}","{'total': 7, 'passengers': 3, 'crew': 4}",0.0,The plane struck a tree on a mountain ridge at...,7,7,Flying Tiger Line,"{'place_id': 383391892, 'licence': 'Data © Ope...","Washington, United States"

In [53]:
# 'This country match >>> Holy See >>> Texas, United States', red flag here Holy See is being tide to Texas so drop 
# This list comprehension checks if the name is in the index if it's not in there we list it to check sanity 
[f"This country match >>> {i} >>> {df_country_codes_["name"][df_country_codes_["name"] == i].index[0]}" for i in df_country_codes_["name"] if i not in df_country_codes_["name"][df_country_codes_["name"] == i].index[0]]

['This country match >>> Bolivia (Plurinational State of) >>> Bolivia',
 'This country match >>> Bonaire, Sint Eustatius and Saba >>> Caribbean Netherlands, Netherlands',
 'This country match >>> Brunei Darussalam >>> Brunei',
 'This country match >>> Cabo Verde >>> Cape Verde',
 'This country match >>> Congo, Democratic Republic of the >>> Democratic Republic of the Congo',
 'This country match >>> Curaçao >>> Curacao, Netherlands',
 'This country match >>> Falkland Islands (Malvinas) >>> Falkland Islands',
 'This country match >>> French Southern Territories >>> French Southern and Antarctic Lands, France',
 'This country match >>> Holy See >>> Texas, United States',
 'This country match >>> Iran (Islamic Republic of) >>> Iran',
 "This country match >>> Korea (Democratic People's Republic of) >>> Gangwon State, South Korea",
 'This country match >>> Korea, Republic of >>> Gangwon State, South Korea',
 "This country match >>> Lao People's Democratic Republic >>> Laos",
 'This country match >>> Macao >>> Macau, China',
 'This country match >>> Micronesia (Federated States of) >>> Federated States of Micronesia',
 'This country match >>> Moldova, Republic of >>> MD-2004, Moldova',
 'This country match >>> Palestine, State of >>> New York, United States',
 'This country match >>> Russian Federation >>> Russia',
 'This country match >>> Saint Martin (French part) >>> Saint Martin (France), France',
 'This country match >>> Sao Tome and Principe >>> São Tomé and Príncipe',
 'This country match >>> Syrian Arab Republic >>> Syria',
 'This country match >>> Taiwan, Province of China >>> Anhui, China',
 'This country match >>> Tanzania, United Republic of >>> Tanzania',
 'This country match >>> Timor-Leste >>> East Timor',
 'This country match >>> United Kingdom of Great Britain and Northern Ireland >>> United Kingdom',
 'This country match >>> United States of America >>> United States',
 'This country match >>> Venezuela (Bolivarian Republic of) >>> Venezuela',
 'This country match >>> Viet Nam >>> Vietnam',
 'This country match >>> Virgin Islands (British) >>> British Virgin Islands',
 'This country match >>> Virgin Islands (U.S.) >>> United States Virgin Islands, United States',
 'This country match >>> Western Sahara >>> Dakhla-Oued Ed-Dahab, Morocco']

In [54]:
df_country_codes_

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code,name_geopy
Country_Geopy,,,,,,,,,,,,
Afghanistan,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,None,142.0,34.0,NaN,"{'place_id': 220100631, 'licence': 'Data © Ope..."
"Åland Islands, Finland",Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,None,150.0,154.0,NaN,"{'place_id': 180167715, 'licence': 'Data © Ope..."
Albania,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,None,150.0,39.0,NaN,"{'place_id': 83081284, 'licence': 'Data © Open..."
Algeria,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,None,2.0,15.0,NaN,"{'place_id': 77146891, 'licence': 'Data © Open..."
"American Samoa, United States",American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,None,9.0,61.0,NaN,"{'place_id': 32805879, 'licence': 'Data © Open..."
...,...,...,...,...,...,...,...,...,...,...,...,...
"Wallis and Futuna, France",Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,None,9.0,61.0,NaN,"{'place_id': 33145748, 'licence': 'Data © Open..."
"Dakhla-Oued Ed-Dahab, Morocco",Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,None,2.0,15.0,NaN,"{'place_id': 288513039, 'licence': 'Data © Ope..."
Yemen,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,None,142.0,145.0,NaN,"{'place_id': 69324426, 'licence': 'Data © Open..."
Zambia,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0,"{'place_id': 65568484, 'licence': 'Data © Open..."
Zimbabwe,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0,"{'place_id': 60730405, 'licence': 'Data © Open..."

In [55]:
# Geopy is tagging 
df_country_codes_.loc[["New York, United States","Texas, United States"]]

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code,name_geopy
Country_Geopy,,,,,,,,,,,,
"New York, United States","Palestine, State of",PS,PSE,275,ISO 3166-2:PS,Asia,Western Asia,None,142.0,145.0,NaN,"{'place_id': 6507300, 'licence': 'Data © OpenS..."
"Texas, United States",Holy See,VA,VAT,336,ISO 3166-2:VA,Europe,Southern Europe,None,150.0,39.0,NaN,"{'place_id': 293797351, 'licence': 'Data © Ope..."

In [56]:
df_country_codes_updated = df_country_codes_.drop(["Texas, United States","New York, United States"] )

In [57]:
def get_code(x):
    try:
        return df_country_codes_updated.loc[x]["alpha-3"]
    except:
        return float("nan")

In [58]:
df_["Code"] = df_.Country_Geopy.apply(get_code)

/var/folders/sr/32z6khr97xs2g11w52pbkzww0000gn/T/ipykernel_64845/3812215558.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_["Code"] = df_.Country_Geopy.apply(get_code)

In [59]:
df_["Code"].info()

<class 'pandas.core.series.Series'>
Index: 4918 entries, 0 to 5036
Series name: Code
Non-Null Count  Dtype
--------------  -----
1532 non-null   object
dtypes: object(1)
memory usage: 205.9+ KB

In [60]:
good_code_column = df_[df_.Code.apply(lambda x: not isinstance(x,float))]
missing_code = df_[df_.Code.apply(lambda x: isinstance(x,float))]
good_code_column[:2]

,Decade,Date,Time,Location,Operator,Flight_Num,Route,Ac_Type,Registration,Cn_Ln,Aboard,Fatalities,Ground,Summary,Aboard_Total,Fatalities_Total,Operator_vs_Military,Country_location,Country_Geopy,Code
3,1950,1953-01-15,0448,"25 nm off Agrigento, Italy",Military -Royal Air Force,-,None,Vickers Valetta Mk1 / Avero Lancaster,VX562 / TX270,None,"{'total': 26, 'passengers': 16, 'crew': 10}","{'total': 26, 'passengers': 16, 'crew': 10}",0.0,Both aircraft crashed after a midair collision...,26,26,Military,"{'place_id': 100666283, 'licence': 'Data © Ope...",Italy,ITA
12,1950,1953-03-14,None,"Kalasahar, India",Orient Airways,None,Delhi - Dacca,Convair CV-240-7,AP-AEG,082,"{'total': 16, 'passengers': 11, 'crew': 5}","{'total': 16, 'passengers': 11, 'crew': 5}",0.0,Crashed into a mountain while en route in seve...,16,16,Orient Airways,"{'place_id': 246884012, 'licence': 'Data © Ope...",India,IND

In [61]:
# All the missing data from USA we have 50 different states which checks out 
len({i for i in missing_code.Country_Geopy if "United States" in i})

50

In [62]:
missing_code.columns

Index(['Decade', 'Date', 'Time', 'Location', 'Operator', 'Flight_Num', 'Route',
       'Ac_Type', 'Registration', 'Cn_Ln', 'Aboard', 'Fatalities', 'Ground',
       'Summary', 'Aboard_Total', 'Fatalities_Total', 'Operator_vs_Military',
       'Country_location', 'Country_Geopy', 'Code'],
      dtype='object')

In [63]:
def check_country_geopy_match(s):
    return lambda x : s in x

def get_missing_df(df, s):
    return df[df.Country_Geopy.apply(check_country_geopy_match(s))]

In [64]:
df_country_codes_updated

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code,name_geopy
Country_Geopy,,,,,,,,,,,,
Afghanistan,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,None,142.0,34.0,NaN,"{'place_id': 220100631, 'licence': 'Data © Ope..."
"Åland Islands, Finland",Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,None,150.0,154.0,NaN,"{'place_id': 180167715, 'licence': 'Data © Ope..."
Albania,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,None,150.0,39.0,NaN,"{'place_id': 83081284, 'licence': 'Data © Open..."
Algeria,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,None,2.0,15.0,NaN,"{'place_id': 77146891, 'licence': 'Data © Open..."
"American Samoa, United States",American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,None,9.0,61.0,NaN,"{'place_id': 32805879, 'licence': 'Data © Open..."
...,...,...,...,...,...,...,...,...,...,...,...,...
"Wallis and Futuna, France",Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,None,9.0,61.0,NaN,"{'place_id': 33145748, 'licence': 'Data © Open..."
"Dakhla-Oued Ed-Dahab, Morocco",Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,None,2.0,15.0,NaN,"{'place_id': 288513039, 'licence': 'Data © Ope..."
Yemen,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,None,142.0,145.0,NaN,"{'place_id': 69324426, 'licence': 'Data © Open..."
Zambia,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0,"{'place_id': 65568484, 'licence': 'Data © Open..."
Zimbabwe,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0,"{'place_id': 60730405, 'licence': 'Data © Open..."

In [65]:
print(get_missing_df(missing_code, "United States")[["Location","Country_Geopy","Operator"]].to_string())

                                                          Location                        Country_Geopy                                                           Operator
1                                             Issaquah, Washington            Washington, United States                                                  Flying Tiger Line
2                                                Fish Haven, Idaho                 Idaho, United States                                           Associated Air Transport
9                                              Off Mobile, Alabama               Alabama, United States                                                  National Airlines
11                                      Windsor Locks, Connecticut           Connecticut, United States                                                      Slick Airways
16                                            Alvarado, California            California, United States                                               Transocean Air Lines
23                                             Selleck, Washington            Washington, United States                                                     Miami Airlines
25                                   San Francisco Bay, California            California, United States                                                   Western Airlines
30                                            Near Marshall, Texas                 Texas, United States                                                    Delta Air Lines
31                                             St. Louis, Missouri              Missouri, United States                                                         Meteor Air
41                                            Near Milton, Florida               Florida, United States                                               Military - U.S. Navy
46                                      Near San Diego, California            California, United States                                                 Aerovias Contreras
48                                                Vail, Washington            Washington, United States                                              Regina Cargo Airlines
51                                                Albany, New York              New York, United States                                                  American Airlines
53                                            Louisville, Kentucky              Kentucky, United States                                                    Resort Airlines
56                                         New York City, New York              New York, United States                                                  Eastern Air Lines
59                                  Near Half Moon Bay, California            California, United States                              British Commonwealth Pacific Airlines
72                                              Carmel, New Jersey            New Jersey, United States                                           Nationwide Air Transport
75                                            Near Galax, Virginia              Virginia, United States                                                  Eastern Air Lines
84                                            Harrington, Delaware              Delaware, United States                                          International Air Freight
86                                                Denver, Colorado              Colorado, United States                                                      Slick Airways
99                                               Columbus, Georgia               Georgia, United States                                                    Delta Air Lines
102                                       Delaware Bay, New Jersey            New Jersey, United States                                  Trans Continental and Western Air
104                           La Guardia Airport, Queens, New York              New York, United States                                                   United Air Lines
107                                         Port Deposit, Maryland              Maryland, United States                                                  Eastern Air Lines
110                                             Leesburg, Virginia              Virginia, United States                                      Pennsylvania Central Airlines
114                                             Melbourne, Florida               Florida, United States                                                Burke Air Transport
121                                             New York, New York              New York, United States                                                  American Airlines
124                                               Hanksville, Utah                  Utah, United States                                                      Slick Airways
127                                            Near El Paso, Texas                 Texas, United States                                                  American Airlines
130                                          Sylva, North Carolina        North Carolina, United States                                                      Stratofreight
131                                             Bryce Canyon, Utah                  Utah, United States                                                   United Air Lines
133                                         Annette Island, Alaska                Alaska, United States                                         Pan American World Airways
136                                             Gallup, New Mexico            New Mexico, United States                                                  American Airlines
138                                            Newcastle, Delaware               Wyoming, United States                                  Trans Continental and Western Air
142                                                Yakutat, Alaska                Alaska, United States                                                 Columbia Air Cargo
145                                            Seattle, Washington            Washington, United States                                                    Alaska Airlines
147                                        Near Memphis, Tennessee             Tennessee, United States                                          Military - U.S. Air Force
155                                       Near Leadville, Colorado              Colorado, United States                                                    Federal Express
158                                            Cove Neck, New York              New York, United States                                                            AVIANCA
161                                            Burlington, Vermont               Vermont, United States                                                   Airborne Express
162                                          Plattsburgh, New York              New York, United States                                                    Wiggins Airways
167                                               Denver, Colorado              Colorado, United States                                                    Federal Express
193                                             Elkhorn, Wisconsin             Wisconsin, United States                                   Private - Omniflight Helicopters
195                                                 Kaltag, Alaska                Alaska, United States                                            Frontier Flying Service
200                                    San Luis Obispo, California            California, United States                                                 HiTech Helicopters
202                                        Cape Canaveral, Florida               Florida, United States                                                  Eastern Air Lines
210                                              Romulus, Michigan              Michigan, United States                             Northwest Airlines/ Northwest Airlines
215                                          Saint Louis, Missouri              Missouri, United States                                             Skycraft Air Transport
219                                           Terre Haute, Indiana               Indiana, United States                                                      Britt Airways
222                                JFK Airport, New York, New York              New York, United States                                        Scandinavian Airlines (SAS)
230                                        Chalkhill, Pennsylvania          Pennsylvania, United States                                      Zantop International Airlines
231                                     Windsor Locks, Connecticut           Connecticut, United States                                                    Air Continental
232                                       Island Beach, New Jersey            New Jersey, United States                                  Air Taxi - Raco Helicopters Corp.
240                                        Near Memphis, Tennessee             Tennessee, United States                                               Aviation Enterprises
242                                    San Luis Obispo, California            California, United States                                      Wings West Airlines / Private
245                                           Near Naples, Florida               Florida, United States                                     Provincetown - Boston Airlines
257                                          Jacksonville, Florida               Florida, United States                                     Provincetown - Boston Airlines
262                                            Kansas City, Kansas                Kansas, United States                                          TPI International Airways
265                                             Carson, New Mexico            New Mexico, United States                                                     Air Taxi - EMS
266                                                   Reno, Nevada                Nevada, United States                                                    Galaxy Airlines
271                                               Soldotna, Alaska                Alaska, United States                                             North Pacific Airlines
272                         300 nm NW of San Francisco, California            California, United States                                            China Airlines (Taiwan)
275                                            Near Valdez, Alaska                Alaska, United States                                          Military - U.S. Air Force
276                                               Fort Hood, Texas                 Texas, United States                                          Military - U.S. Air Force
280                                         Las Cruces, New Mexico            New Mexico, United States                                                  American Airlines
286                                           Nashville, Tennessee             Tennessee, United States                                              General Aviation Inc.
292                                        Ft. Worth-Dallas, Texas                 Texas, United States                                                    Delta Air Lines
297                                                  Auburn, Maine                 Maine, United States                                                Bar Harbor Airlines
298                                          Beale AFB, California            California, United States                                          Military - U.S. Air Force
300                                           Milwaukee, Wisconsin             Wisconsin, United States                                                    Midwest Express
308                                       Homer City, Pennsylvania          Pennsylvania, United States                                                 Mountain Air Cargo
310                                                Dothan, Alabama               Alabama, United States                                          Military - U.S. Air Force
316                                                 De Kalb, Texas                 Texas, United States                                                            Private
320                                   LAX, Los Angeles, California            California, United States                                           USAir / Skywest Airlines
323                                                Cleveland, Ohio                  Ohio, United States                                        Ryan International Airlines
326                                Near Colorado Springs, Colorado              Colorado, United States                                                   United Air Lines
328                                                  San Diego, CA            California, United States                                              Duncan Aircraft Sales
331                                      Off San Diego, California            California, United States                       Military - U.S. Navy / Military -  U.S. Navy
335                                           Marion, Pennsylvania          Pennsylvania, United States                                                            Private
336                                             Brunswick, Georgia               Georgia, United States                                        Atlantic Southeast Airlines
339                                          Grand Canyon, Airzona               Arizona, United States                                   Air Taxi - Air Grand Canyon Inc.
351                                            Birmingham, Alabama               Alabama, United States                                                 L'Express Airlines
357                                              Ketchikan, Alaska                Alaska, United States                                                    Temsco Airlines
358                                                 Walton, Oregon                Oregon, United States                                            Air Taxi - Bohemia Inc.
361                                         Near Eagle Lake, Texas                 Texas, United States                                                Continental Express
364                                      Belvedere Center, Vermont               Vermont, United States                                                       Canair Cargo
371                                            Vallejo, California            California, United States                                  Corporate Mobility Inc. - Private
378                                              Davis, California            California, United States                                  Air Taxi - Airis Helicopters Inc.
386                                            Birmingham, Alabama               Alabama, United States                                      Pennsylvania Central Airlines
390                                          Cheshire, Connecticut           Connecticut, United States                                                  Eastern Air Lines
393                                               Mt. Elk, Wyoming               Wyoming, United States                                                   United Air Lines
396                                   Live Oak Springs, California            California, United States                                                  American Airlines
401                                       Hobart Mills, California            California, United States                                    Military - U.S. Army Air Forces
408                                                Munson, Florida               Florida, United States                          Military U.S. Navy / Military - U.S. Navy
409                                             Richmond, Virginia              Virginia, United States                                               Viking Air Transport
416                                         Holyoke, Massachusetts         Massachusetts, United States                                    Military - U.S. Army Air Forces
417                                          Reading, Pennsylvania          Pennsylvania, United States                                  Trans Continental and Western Air
420                                               Goodland, Kansas                Kansas, United States                                     Military - U.S. Army Air Corps
425                                          Lakehurst, New Jersey            New Jersey, United States                                          Atlantic Central Airlines
428                                               Moline, Illinois              Illinois, United States                                              Trans Luxury Airlines
433                                                   Elko, Nevada                Nevada, United States                                              Trans-Luxury Airlines
435                                                   Nome, Alaska                Alaska, United States                                            Mt. McKinley Airfreight
447                                              Cheyenne, Wyoming               Wyoming, United States                                                   United Air Lines
449                                               Laramie, Wyoming               Wyoming, United States                                    National Air Transport Services
454                                                Cleveland, Ohio                  Ohio, United States                                                   United Air Lines
455                                              Lebec, California            California, United States                                                   Western Airlines
463                                             Toledo, Washington            Washington, United States                                       Military - U.S. Marine Corps
467                                     Near San Diego, California            California, United States                                                   Western Airlines
471                                           Walshville, Illinois              Illinois, United States                                       Kansas City Southern Skyways
473                                         Michigan City, Indiana               Indiana, United States                                                  American Airlines
477                                          Elizabeth, New Jersey            New Jersey, United States                                                  American Airlines
480                                          Elizabeth, New Jersey            New Jersey, United States                                                  National Airlines
487                                             Near Sequin, Texas                 Texas, United States                         Military - U.S. Air Force / U.S. Air Force
494                                             New York, New York              New York, United States                                                        US Airlines
498                                      Near Whittier, California            California, United States                        North Continental Airlines (Robin Airlines)

In [66]:
missing_code["Country_Geop_3"] = missing_code.Country_location.apply(unpack_locations_part)

NameError: name 'unpack_locations_part' is not defined

In [ ]:
missing_code["Code_2"] = missing_code.Country_Geopy.apply(get_code)

/var/folders/sr/32z6khr97xs2g11w52pbkzww0000gn/T/ipykernel_64296/2062250936.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  missing_code["Code_2"] = missing_code.Country_Geopy.apply(get_code)

In [ ]:
missing_code

,Decade,Date,Time,Location,Operator,Flight_Num,Route,Ac_Type,Registration,Cn_Ln,...,Ground,Summary,Aboard_Total,Fatalities_Total,Operator_vs_Military,Country_location,Country_Geopy,Code,Country_Geop_3,Code_2
0,1950,1953-01-05,2139,"Belfast, Northern Ireland",British European Airways,None,Northolt - Belfast,Vickers Viking 610-1B,G-AJDL,262,...,0.0,Crashed into approach lights while attempting ...,35,27,British European Airways,"{'place_id': 372303099, 'licence': 'Data © Ope...","Northern Ireland, United Kingdom",NaN,United Kingdom,NaN
1,1950,1953-01-07,2055,"Issaquah, Washington",Flying Tiger Line,841,Seattle - Cheyenne - Fort Jackson,Douglas C-54B-10-DO,N86574,18350,...,0.0,The plane struck a tree on a mountain ridge at...,7,7,Flying Tiger Line,"{'place_id': 383391892, 'licence': 'Data © Ope...","Washington, United States",NaN,United States,NaN
2,1950,1953-01-07,0412,"Fish Haven, Idaho",Associated Air Transport,1-6-6A,Boeing Field - Cheyenne,Curtiss C-46,N1648M,22395,...,0.0,The plane crashed into mountains while en rout...,40,40,Associated Air Transport,"{'place_id': 315821592, 'licence': 'Data © Ope...","Idaho, United States",NaN,United States,NaN
4,1950,1953-01-26,1144,"Sinnai, Sardinia, Italy",Linee Aeree Italiane,None,Cagliari - Rome,Douglas DC-3,I-LAIL,4308,...,0.0,Crashed 10 miles east of Cagliari in the Sinna...,19,19,Linee Aeree Italiane,"{'place_id': 78523394, 'licence': 'Data © Open...","Sardinia, Italy",NaN,Italy,NaN
5,1950,1953-02-02,0530,"Off Newfoundland, Canada",Lancashire Aircraft Corporation (Skyways),None,"Lajes, Azores - Gander",Avro 685 York 1,G-AHFA,1304,...,0.0,"Last know coordinates 46' 15"" N, 46'31""W, over...",39,39,Lancashire Aircraft Corporation (Skyways),"{'place_id': 278097010, 'licence': 'Data © Ope...","Newfoundland and Labrador, Canada",NaN,Canada,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5029,1970,1976-11-23,0945,"Kozani, Greece",Olympic Airways,None,Athens - Larisa,NAMC YS-11A-500,SX-BBR,2156,...,0.0,The airliner crashed into mountainous terrain ...,50,50,Olympic Airways,"{'place_id': 83092758, 'licence': 'Data © Open...","501 00, Greece",NaN,Greece,NaN
5030,1970,1976-11-28,1856,"Moscow, Russia",Aeroflot,2415,Moscow - Leningrad,Tupolev TU-104B,CCCP-42471,021204,...,0.0,After taking off an artificial horizon failure...,73,73,Aeroflot,"{'place_id': 386169025, 'licence': 'Data © Ope...","Central Federal District, Russia",NaN,Russia,NaN
5031,1970,1976-12-12,2326,"Cape May, New Jersey",Atlantic City Airlines,977,Atlantic City - Cap May,de Havilland Canada DHC-6 Twin Otter 300,N101AC,262,...,0.0,The plane crashed short of the runway in rain....,10,3,Atlantic City Airlines,"{'place_id': 1881913, 'licence': 'Data © OpenS...","New Jersey, United States",NaN,United States,NaN
5032,1970,1976-12-17,1940,"Ust-Kut, Russia",Aeroflot,None,Ust-Kut - Kirensk,Yakovlev 40,CCCP-88208,9631349,...,0.0,The cargo plane crashed into trees on takeoff....,7,7,Aeroflot,"{'place_id': 224774650, 'licence': 'Data © Ope...","Siberian Federal District, Russia",NaN,Russia,NaN
5033,1970,1976-12-17,21:30,"Kiev, USSR",Aeroflot,H-36,Chernivtsi - Kiev,Antonov AN-24RV,CCCP-46672,47309604,...,0.0,In heavy fog the crew continued their descend...,55,48,Aeroflot,"{'place_id': 202588741, 'licence': 'Data © Ope...","Kyiv, Ukraine",NaN,Ukraine,NaN

In [ ]:
def get_code_2(x):
    try:
        return df_country_codes_updated.loc[x]["alpha-3"]
    except:
        return float("nan")

In [ ]:
df_country_codes_["Country_Geopy_"] = df_country_codes_.name_geopy.apply(unpack_locations_part)

In [ ]:
df_country_codes_

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code,name_geopy,Country_Geopy_
Country_Geopy,,,,,,,,,,,,,
Afghanistan,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,None,142.0,34.0,NaN,"{'place_id': 220100631, 'licence': 'Data © Ope...",Afghanistan
"Åland Islands, Finland",Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,None,150.0,154.0,NaN,"{'place_id': 180167715, 'licence': 'Data © Ope...",Finland
Albania,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,None,150.0,39.0,NaN,"{'place_id': 83081284, 'licence': 'Data © Open...",Albania
Algeria,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,None,2.0,15.0,NaN,"{'place_id': 77146891, 'licence': 'Data © Open...",Algeria
"American Samoa, United States",American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,None,9.0,61.0,NaN,"{'place_id': 32805879, 'licence': 'Data © Open...",United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Wallis and Futuna, France",Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,None,9.0,61.0,NaN,"{'place_id': 33145748, 'licence': 'Data © Open...",France
"Dakhla-Oued Ed-Dahab, Morocco",Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,None,2.0,15.0,NaN,"{'place_id': 288513039, 'licence': 'Data © Ope...",Morocco
Yemen,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,None,142.0,145.0,NaN,"{'place_id': 69324426, 'licence': 'Data © Open...",Yemen
Zambia,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0,"{'place_id': 65568484, 'licence': 'Data © Open...",Zambia
Zimbabwe,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0,"{'place_id': 60730405, 'licence': 'Data © Open...",Zimbabwe

In [ ]:
df_country_codes_

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code,name_geopy,Country_Geopy_
Country_Geopy,,,,,,,,,,,,,
Afghanistan,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,None,142.0,34.0,NaN,"{'place_id': 220100631, 'licence': 'Data © Ope...",Afghanistan
"Åland Islands, Finland",Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,None,150.0,154.0,NaN,"{'place_id': 180167715, 'licence': 'Data © Ope...",Finland
Albania,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,None,150.0,39.0,NaN,"{'place_id': 83081284, 'licence': 'Data © Open...",Albania
Algeria,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,None,2.0,15.0,NaN,"{'place_id': 77146891, 'licence': 'Data © Open...",Algeria
"American Samoa, United States",American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,None,9.0,61.0,NaN,"{'place_id': 32805879, 'licence': 'Data © Open...",United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Wallis and Futuna, France",Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,None,9.0,61.0,NaN,"{'place_id': 33145748, 'licence': 'Data © Open...",France
"Dakhla-Oued Ed-Dahab, Morocco",Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,None,2.0,15.0,NaN,"{'place_id': 288513039, 'licence': 'Data © Ope...",Morocco
Yemen,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,None,142.0,145.0,NaN,"{'place_id': 69324426, 'licence': 'Data © Open...",Yemen
Zambia,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0,"{'place_id': 65568484, 'licence': 'Data © Open...",Zambia
Zimbabwe,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0,"{'place_id': 60730405, 'licence': 'Data © Open...",Zimbabwe

In [ ]:
# import json
# import pandas as pd
# import plotly.express as px

# with open("data/geojson-counties-fips.json", "r") as f:
#     counties = json.load(f)

# import pandas as pd
# df = pd.read_csv("data/fips-unemp-16.csv",
#                    dtype={"fips": str})

# fig = px.choropleth(df, geojson=counties, locations='fips', color='unemp',
#                            color_continuous_scale="viridis",
#                            range_color=(0, 12),
#                         #    scope="usa",
#                            labels={'unemp':'unemployment rate'}
#                           )
# fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
# fig.show()

In [ ]:
# import plotly.express as px

# # Sample data: a list of dictionaries
# # Each dictionary represents a point with a latitude, longitude, and some value.
# data = [
#     {"lat": 34.0522, "lon": -118.2437, "value": 10},  # Los Angeles
#     {"lat": 40.7128, "lon": -74.0060, "value": 20},  # New York
#     {"lat": 37.7749, "lon": -122.4194, "value": 30},  # San Francisco
# ]

# # Convert the list of dictionaries to a DataFrame
# import pandas as pd
# df = pd.DataFrame(data)

# # Plot using scatter_geo
# fig = px.scatter_geo(df,
#                      lat="lat",
#                      lon="lon",
#                      size="value",  # Adjust the size of each point based on the "value"
#                      )

# # Show the figure
# fig.show()

In [ ]:
# import plotly.express as px

# fig = px.choropleth(locations=["Northern Ireland, United Kingdom"], color=[1,2,3],)
# fig.show()

In [ ]:
# import plotly.express as px

# # Assuming 'df' is your DataFrame with 'lat' and 'lon' columns
# px.set_mapbox_access_token('your_mapbox_access_token_here')

# fig = px.density_mapbox(df, lat='lat', lon='lon', z='value', radius=10,
#                         center=dict(lat=0, lon=180), zoom=0,
#                         mapbox_style="stamen-terrain")

# fig.show()

In [ ]:
# import plotly.express as px
# import pandas as pd

# df = pd.read_csv("location_coordinate.csv")

# fig = px.scatter_geo(df,lat='lat',lon='long', hover_name="id")
# fig.update_layout(title = 'World map', title_x=0.5)
# fig.show()

In [ ]:
# df.Date = df.Date.astype(str)

In [ ]:
# df.to_json("data/silver/1920_2024_geopy.json")